@import "../public/public.css";

html{
    scroll-behavior: smooth;
}

.product-section {
    margin: 120px auto;
    padding: 0 250px;
}
/**************************************************/
/* 오른쪽 메인 콘텐츠 */
.main-section {
    /*width: 75%;*/
}

/*****************************************************/
/* 스타일 */
.style-body-section {
    /*display: flex;*/
}

/******************************************/

.style-map-section{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 5px solid pink;
    border-radius: 8px;
    padding: 15px;
    height: 100%;
}

/******************************************/

.container {
    height: 1000px;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: pink;
}

.box {

    position: relative;
}

.box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top { grid-column: 1 / 2; grid-row: 1 / 2; }
.outer { grid-column: 2 / 3; grid-row: 1 / 3; }
.bottom { grid-column: 1 / 2; grid-row: 2 / 3; }
.shoes { grid-column: 1 / 2; grid-row: 3 / 4; }
.bag { grid-column: 2 / 3; grid-row: 3 / 4; }

/*****************************************************/

.styleCategory-btn {
    padding: 10px 20px;
    background-color: lightpink;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.styleCategory-btn > a {
    text-decoration: none;
}

/*******************************************************/
.style-detail-section {
    margin-top: 30px;
    border: 5px solid pink;
    border-radius: 8px;
    padding: 15px;

    display: flex;
}

.style-detail-section > div {
    display: flex;
}
.style-detail {
    text-align: center;
}

/*.style-detail-section .image-container{*/

/*    overflow: hidden;*/
/*    margin-bottom: 10px;*/
/*    &:hover > img{*/
/*        transform: scale(120%);*/
/*    }*/
/*}*/
.style-detail-section > div >  img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.style-detail-section .title{
    font-size: var(--font-size-xx-small);
}
