@import "../public/public.css";

html{
    scroll-behavior: smooth;
}

.product-section {
    /*position: relative;*/
    width: 1200px;
    margin: 120px auto;
}
.product-section img{
    width: 100%;
    height: 100%;
}

/***************************************************/
.product-section > article{
    display: flex;
}
.product-section > article > section{
    flex: 1;
}
.product-section > article .main-image-container{
    margin-bottom: 10px;
    overflow: hidden;
}
.product-section > article .sub-image-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.product-section > article .sub-image-container > button{
    cursor: pointer;
    border: none;
    background: unset;
    overflow: hidden;
}
.product-section > article .sub-image-container > button > img{
    transition-duration: 0.2s;
}
.product-section > article .sub-image-container > button:hover > img{
    transform: scale(110%);
}
/*******************************************************/
.product-section > article > form{
    flex: 1;
    font-size: var(--font-size-small);
    padding: 20px 40px;
}
.product-section > article header{
    padding-bottom: 20px;
    border-bottom: 2px solid var(--Dark-gray-textured-background---4-rgba);
}
.product-section > article header > div{
    margin-bottom: 10px;
}
.product-section > article header h3{
    display: inline-block;
    font-size: var(--font-size-small);
}
.product-section > article header b{
    display: inline-block;
    width: 100px;
}
.product-section > article select{
    width: 400px;
    font-size: var(--font-size-small);
}
/*********************************/
.product-section > article > form ul{
    margin: 20px 0;
    font-size: var(--font-size-xx-small);
}
.product-section > article > form li{
    display: flex;
    margin: 5px 0;
    align-items: center;
}
/* 수량 변경 */
.product-section > article > form ul label{
    display: flex;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0 10px;
    overflow: hidden;
}
.product-section > article > form ul > li > b{
    flex: 1;
}
.product-section > article > form ul button{
    border: none;
    background: none;
    cursor: pointer;
    width: 20px;
    background-color: var(--Summer-spring-decoration-design-elements-1-rgba);
}
.product-section > article > form ul button.amount-minus-btn{
    border-right: 1px solid black;
}
.product-section > article > form ul button.amount-plus-btn{
    border-left: 1px solid black;
}
.product-section > article > form ul input{
    width: 30px;
    border: none;
    outline: none;
    text-align: center;
    padding: 4px;
}
/* 삭제 버튼 */
.product-section > article > form li > button{
    border: none;
    background: none;
    font-size: var(--font-size-small);
    &:hover{
        opacity: 0.7;
    }
}
/* 옵션 가격 */
.product-section > article > form li > span{
    text-align: right;
    width: 80px;
}
/*********************************************/
.product-section > article .total-container{
    font-size: var(--font-size-normal);
    margin: 30px 0;
    text-align: right;
}
/*********************************************/
.product-section > article .buy-btn{
    width: 100%;
    padding: 10px 0;
    font-size: var(--font-size-small);
    cursor: pointer;
    background-color: black;
    border-radius: 2px;
    color: white;
    border: 1px solid white;
    transition-duration: 0.2s;
    &:hover{
        color: black;
        background-color: white;
        border: 1px solid black;
    }
}
product-section > article .button-container{
    display: flex;
    margin: 5px 0;
}
.product-section > article .button-container > button{
    flex: 1;
    padding: 10px 0;
    font-size: var(--font-size-small);
    cursor: pointer;
    border: none;
    border-radius: 2px;
    transition-duration: 0.2s;
    &:hover{
        opacity: 0.8;
    }
}
.product-section > article .button-container > .cart-btn{
    background-color: var(--Pasteles-2-rgba);
    margin-right: 5px;
}
.product-section > article .button-container > .heart-btn{
    background-color: var(--Pasteles-5-rgba);
    margin-left: 5px;
}

/**************************************************/
#product-info-navigator{
    top: 0;
    position: sticky;
    margin: 50px 0;
    background-color: white;
}
#product-info-navigator > ul{
    display: flex;
    border-bottom: 1px solid var(--Dark-gray-textured-background---1-rgba);
}
#product-info-navigator li{
    font-size: var(--font-size-x-small);
}
#product-info-navigator a{
    display: flex;
    width: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 15px 0;
    color: black;
    &:hover{
        background-color: var(--Summer-spring-decoration-design-elements-5-rgba);
    }
}
#product-info-navigator a > i{
    visibility: hidden;
}
#product-info-navigator a:hover > i{
    visibility: unset;
}
/***************************************************************************************/
#product-info-section{
    padding: 0 200px;
}

#product-info-section > img{
    margin-bottom: 50px;
}
#product-info-section > p{
    margin: 50px 0;
}
/*****************************************/
#product-help-section{
    display: flex;
    margin-top: 30px;
    padding: 10px 0;
    border-top: 3px solid black;
}
#product-help-section > div{
    flex: 1;
    padding: 0 20px;
}
#product-help-section h4{
    font-size: var(--font-size-small);
    border-bottom: 1px solid black;
    padding: 20px 0;
}
#product-help-section p{
    padding: 20px 0;
    font-size: var(--font-size-xx-small);
    color: var(--Dark-gray-textured-background---2-rgba);
}



