<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ido.style.mapper.ProductMapper">

    <resultMap id="productWithImageMap" type="ProductDTO" autoMapping="true">
        <id property="no" column="product_no" />
        <result property="name" column="product_name" />
        <result property="price" column="product_price" />

        <association property="category" javaType="CategoryDTO" autoMapping="true">
            <id property="no" column="product_category" />
            <result property="name" column="product_category_name" />
        </association>

        <collection property="images" ofType="ProductImageDTO" javaType="list">
            <id property="no" column="product_image_no"/>
        </collection>
    </resultMap>

    <select id="selectProducts" resultType="ProductDTO" resultMap="productWithImageMap">
        SELECT
        P.`no` AS product_no,
        P.`name` AS product_name,
        P.`price` AS product_price,
        P.detail,
        P.uploaded_at,

        CT.no AS product_category,
        CT.name AS product_category_name,

        PI.`no` AS product_image_no

        FROM product P
        INNER JOIN category CT
        ON P.category = CT.no
        <if test="categoryNo != 1">
            AND P.category IN (WITH RECURSIVE `category_cte` AS
            (
            SELECT * FROM `category` WHERE `no` = #{categoryNo}
            UNION
            SELECT child.* FROM `category_cte` parent
            INNER JOIN `category` child
            ON parent.no = child.parent
            ) SELECT `no` FROM `category_cte`)
        </if>
        INNER JOIN product_image PI
        ON P.`no` = PI.`product_no`
        <choose>
            <when test="sort == 'name'">
                ORDER BY P.`name`
            </when>
            <when test="sort == 'low-price'">
                ORDER BY P.`price`
            </when>
            <when test="sort == 'high-price'">
                ORDER BY P.`price` DESC
            </when>
            <otherwise>
                ORDER BY P.`uploaded_at`
            </otherwise>
        </choose>
    </select>

    <select id="selectProductByNo" resultType="ProductDTO" resultMap="productWithImageMap">
        SELECT
            *,
            P.`no` AS product_no,
            P.`name` AS product_name,
            P.`price` AS product_price,

            CT.no AS category_no,
            CT.name AS category_name,

            PI.`no` AS product_image_no
        FROM product P
        INNER JOIN category CT
        ON P.category = CT.no
        INNER JOIN product_image PI
        ON P.`no` = PI.`product_no`

        WHERE P.`no` = #{productNo};
    </select>


    <!--    네이버 쇼핑 상품-->
    <select id="selectNaverShopProducts" resultType="ProductNaverShopDTO">
        SELECT *

        FROM product_naver_shop P

        WHERE #{categoryNo} = 1 OR category = #{categoryNo}

        <choose>
            <when test="sort == 'title'">
                ORDER BY P.`title`
            </when>
            <when test="sort == 'low-price'">
                ORDER BY P.`price`
            </when>
            <when test="sort == 'high-price'">
                ORDER BY P.`price` DESC
            </when>
        </choose>
    </select>

<!--    카테고리-->
    <resultMap id="categoryWithChildrenMap" type="CategoryDTO">
        <id property="no" column="parent_no" />
        <result property="name" column="parent_name" />
        <collection property="children" ofType="CategoryDTO" javaType="list">
            <id property="no" column="child_no" />
            <result property="name" column="child_name" />
        </collection>
    </resultMap>
    <select id="selectCategories" resultType="CategoryDTO" resultMap="categoryWithChildrenMap">
        SELECT
            C1.no AS 'parent_no',
                C1.name AS 'parent_name',

                C2.no AS 'child_no',
                C2.name AS 'child_name'
        FROM category C1
                 LEFT OUTER JOIN category C2
                                 ON C1.no = C2.parent
        WHERE C1.parent IS NULL
    </select>


    <!--    찜 상품 - api 사용 후 -->
    <resultMap id="lovesMap" type="LovesDTO">
        <!-- Loves 테이블 매핑 -->
        <id property="no" column="loves_no" />

        <!-- ProductDTO 매핑 -->
        <association property="product" javaType="ProductNaverShopDTO">
            <id property="no" column="product_no" />
            <result property="title" column="product_title" />
            <result property="link" column="product_link" />
            <result property="image" column="product_image" />
            <result property="price" column="product_price" />
            <result property="category" column="product_category" />

<!--            &lt;!&ndash; ProductCategory 매핑 &ndash;&gt;-->
<!--            <association property="category" javaType="CategoryDTO">-->
<!--                <id property="no" column="product_category" />-->
<!--            </association>-->

        </association>
    </resultMap>


    <select id="selectLovesByUser" resultType="LovesDTO" resultMap="lovesMap">
        SELECT
        L.user_id AS loves_user_no,
        L.product_no AS loves_product_no,
        L.no AS loves_no,

        P.no AS product_no,
        P.title AS product_title,
        P.link AS product_link,
        P.image AS product_image,
        P.price AS product_price,
        P.category AS product_category

        FROM Loves L
        JOIN product_naver_shop P
        ON L.product_no = P.no

        WHERE `user_id` = #{user.id}
        AND (#{categoryNo} = 1 OR category = #{categoryNo})

        <choose>
            <when test="sort == 'title'">
                ORDER BY P.`title`
            </when>
            <when test="sort == 'low-price'">
                ORDER BY P.`price`
            </when>
            <when test="sort == 'high-price'">
                ORDER BY P.`price` DESC
            </when>
        </choose>


    </select>

    <insert id="insertLoves">
        INSERT INTO `loves` (no, product_no, user_id)
        VALUES (NULL, #{product.no}, #{user.id})
    </insert>

    <delete id="deleteLoves">
        DELETE FROM `loves`
        WHERE product_no = #{product.no}
    </delete>


<!--    스타일 리스트 - 마이페이지-->
    <insert id="insertStyles">
        INSERT INTO `styles` (no, product_top, product_outer, product_bottom, product_shoes, product_bag, user_id)
        VALUES (NULL, #{product_top.no},#{product_outer.no}, #{product_bottom.no}, #{product_shoes.no}, #{product_bag.no},  #{user.id})
    </insert>
<!--    , outer_no, bottom_no, shoes_no, bag_no,-->
<!--    #{product.no}, #{product.no}, #{product.no}, #{product.no},-->

    <resultMap id="stylesMap" type="StylesDTO">
        <!-- Styles 테이블 매핑 -->
        <id property="no" column="styles_no" />

        <!-- ProductDTO 매핑 (product_top) -->
        <association property="product_top" javaType="ProductNaverShopDTO">
            <id property="no" column="product_top_no" />
            <result property="image" column="product_top_image" />
        </association>

        <!-- ProductDTO 매핑 (product_outer) -->
        <association property="product_outer" javaType="ProductNaverShopDTO">
            <id property="no" column="product_outer_no" />
            <result property="image" column="product_outer_image" />

        </association>

        <!-- ProductDTO 매핑 (product_bottom) -->
        <association property="product_bottom" javaType="ProductNaverShopDTO">
            <id property="no" column="product_bottom_no" />
            <result property="image" column="product_bottom_image" />
        </association>

        <!-- ProductDTO 매핑 (product_shoes) -->
        <association property="product_shoes" javaType="ProductNaverShopDTO">
            <id property="no" column="product_shoes_no" />
            <result property="image" column="product_shoes_image" />
        </association>

        <!-- ProductDTO 매핑 (product_bag) -->
        <association property="product_bag" javaType="ProductNaverShopDTO">
            <id property="no" column="product_bag_no" />
            <result property="image" column="product_bag_image" />
        </association>
    </resultMap>

    <select id="selectStylesByUser" resultType="StylesDTO" resultMap="stylesMap">
        SELECT
            S.no AS styles_no,
            S.product_top AS styles_product_top,
            S.product_outer AS styles_product_outer,
            S.product_bottom AS styles_product_bottom,
            S.product_shoes AS styles_product_shoes,
            S.product_bag AS styles_product_bag,
            S.user_id AS styles_user_no,

            -- Product information
            P1.no AS product_top_no,
            P1.image AS product_top_image,

            P2.no AS product_outer_no,
            P2.image AS product_outer_image,

            P3.no AS product_bottom_no,
            P3.image AS product_bottom_image,

            P4.no AS product_shoes_no,
            P4.image AS product_shoes_image,

            P5.no AS product_bag_no,
            P5.image AS product_bag_image


        FROM styles S
        JOIN product_naver_shop P1 ON S.product_top = P1.no
        JOIN product_naver_shop P2 ON S.product_outer = P2.no
        JOIN product_naver_shop P3 ON S.product_bottom = P3.no
        JOIN product_naver_shop P4 ON S.product_shoes = P4.no
        JOIN product_naver_shop P5 ON S.product_bag = P5.no


        WHERE `user_id` = #{id}
    </select>


    <resultMap id="styleMap" type="StylesDTO">
        <!-- Styles 테이블 매핑 -->
        <id property="no" column="styles_no" />

        <!-- ProductDTO 매핑 (product_top) -->
        <association property="product_top" javaType="ProductNaverShopDTO">
            <id property="no" column="product_top_no" />
            <result property="title" column="product_top_title" />
            <result property="link" column="product_top_link" />
            <result property="image" column="product_top_image" />
            <result property="price" column="product_top_price" />
        </association>

        <!-- ProductDTO 매핑 (product_outer) -->
        <association property="product_outer" javaType="ProductNaverShopDTO">
            <id property="no" column="product_outer_no" />
            <result property="title" column="product_outer_title" />
            <result property="link" column="product_outer_link" />
            <result property="image" column="product_outer_image" />
            <result property="price" column="product_outer_price" />
        </association>

        <!-- ProductDTO 매핑 (product_bottom) -->
        <association property="product_bottom" javaType="ProductNaverShopDTO">
            <id property="no" column="product_bottom_no" />
            <result property="title" column="product_bottom_title" />
            <result property="link" column="product_bottom_link" />
            <result property="image" column="product_bottom_image" />
            <result property="price" column="product_bottom_price" />
        </association>

        <!-- ProductDTO 매핑 (product_shoes) -->
        <association property="product_shoes" javaType="ProductNaverShopDTO">
            <id property="no" column="product_shoes_no" />
            <result property="title" column="product_shoes_title" />
            <result property="link" column="product_shoes_link" />
            <result property="image" column="product_shoes_image" />
            <result property="price" column="product_shoes_price" />
        </association>

        <!-- ProductDTO 매핑 (product_bag) -->
        <association property="product_bag" javaType="ProductNaverShopDTO">
            <id property="no" column="product_bag_no" />
            <result property="title" column="product_bag_title" />
            <result property="link" column="product_bag_link" />
            <result property="image" column="product_bag_image" />
            <result property="price" column="product_bag_price" />
        </association>
    </resultMap>

    <select id="selectStyleByUser" resultType="StylesDTO" resultMap="styleMap">
        SELECT
            S.no AS styles_no,
            S.product_top AS styles_product_top,
            S.product_outer AS styles_product_outer,
            S.product_bottom AS styles_product_bottom,
            S.product_shoes AS styles_product_shoes,
            S.product_bag AS styles_product_bag,
            S.user_id AS styles_user_no,

            -- Product information
            P1.no AS product_top_no,
            P1.title AS product_top_title,
            P1.link AS product_top_link,
            P1.image AS product_top_image,
            P1.price AS product_top_price,

            P2.no AS product_outer_no,
            P2.title AS product_outer_title,
            P2.link AS product_outer_link,
            P2.image AS product_outer_image,
            P2.price AS product_outer_price,

            P3.no AS product_bottom_no,
            P3.title AS product_bottom_title,
            P3.link AS product_bottom_link,
            P3.image AS product_bottom_image,
            P3.price AS product_bottom_price,

            P4.no AS product_shoes_no,
            P4.title AS product_shoes_title,
            P4.link AS product_shoes_link,
            P4.image AS product_shoes_image,
            P4.price AS product_shoes_price,

            P5.no AS product_bag_no,
            P5.title AS product_bag_title,
            P5.link AS product_bag_link,
            P5.image AS product_bag_image,
            P5.price AS product_bag_price

        FROM styles S
        JOIN product_naver_shop P1 ON S.product_top = P1.no
        JOIN product_naver_shop P2 ON S.product_outer = P2.no
        JOIN product_naver_shop P3 ON S.product_bottom = P3.no
        JOIN product_naver_shop P4 ON S.product_shoes = P4.no
        JOIN product_naver_shop P5 ON S.product_bag = P5.no

        WHERE `user_id` = #{user.id} AND S.`no` = #{styleNo};
    </select>

<!--    스타일리스트 - 스타일 코디-->
    <insert id="insertStylesStyleCodi">
        INSERT INTO `styles_product` (no, product_top, product_outer, product_bottom, product_shoes, product_bag, user_id)
        VALUES (NULL, #{product_top.no},#{product_outer.no}, #{product_bottom.no}, #{product_shoes.no}, #{product_bag.no},  #{user.id})
    </insert>

    <resultMap id="stylesCodiMap" type="StylesProductDTO">
        <!-- Styles 테이블 매핑 -->
        <id property="no" column="styles_no" />

        <!-- ProductDTO 매핑 (product_top) -->
        <association property="product_top" javaType="ProductNaverShopDTO">
            <id property="no" column="product_top_no" />
            <result property="image" column="product_top_image" />
        </association>

        <!-- ProductDTO 매핑 (product_outer) -->
        <association property="product_outer" javaType="ProductNaverShopDTO">
            <id property="no" column="product_outer_no" />
            <result property="image" column="product_outer_image" />

        </association>

        <!-- ProductDTO 매핑 (product_bottom) -->
        <association property="product_bottom" javaType="ProductNaverShopDTO">
            <id property="no" column="product_bottom_no" />
            <result property="image" column="product_bottom_image" />
        </association>

        <!-- ProductDTO 매핑 (product_shoes) -->
        <association property="product_shoes" javaType="ProductNaverShopDTO">
            <id property="no" column="product_shoes_no" />
            <result property="image" column="product_shoes_image" />
        </association>

        <!-- ProductDTO 매핑 (product_bag) -->
        <association property="product_bag" javaType="ProductNaverShopDTO">
            <id property="no" column="product_bag_no" />
            <result property="image" column="product_bag_image" />
        </association>
    </resultMap>

    <select id="selectStylesStyleCodi" resultType="StylesProductDTO" resultMap="stylesCodiMap">
        SELECT
            S.no AS styles_no,
            S.product_top AS styles_product_top,
            S.product_outer AS styles_product_outer,
            S.product_bottom AS styles_product_bottom,
            S.product_shoes AS styles_product_shoes,
            S.product_bag AS styles_product_bag,
            S.user_id AS styles_user_no,

            -- Product information
            P1.no AS product_top_no,
            P1.image AS product_top_image,

            P2.no AS product_outer_no,
            P2.image AS product_outer_image,

            P3.no AS product_bottom_no,
            P3.image AS product_bottom_image,

            P4.no AS product_shoes_no,
            P4.image AS product_shoes_image,

            P5.no AS product_bag_no,
            P5.image AS product_bag_image


        FROM styles_product S
                 JOIN product_naver_shop P1 ON S.product_top = P1.no
                 JOIN product_naver_shop P2 ON S.product_outer = P2.no
                 JOIN product_naver_shop P3 ON S.product_bottom = P3.no
                 JOIN product_naver_shop P4 ON S.product_shoes = P4.no
                 JOIN product_naver_shop P5 ON S.product_bag = P5.no

    </select>


    <resultMap id="styleCodiMap" type="StylesProductDTO">
        <!-- Styles 테이블 매핑 -->
        <id property="no" column="styles_no" />

        <!-- ProductDTO 매핑 (product_top) -->
        <association property="product_top" javaType="ProductNaverShopDTO">
            <id property="no" column="product_top_no" />
            <result property="title" column="product_top_title" />
            <result property="link" column="product_top_link" />
            <result property="image" column="product_top_image" />
            <result property="price" column="product_top_price" />
        </association>

        <!-- ProductDTO 매핑 (product_outer) -->
        <association property="product_outer" javaType="ProductNaverShopDTO">
            <id property="no" column="product_outer_no" />
            <result property="title" column="product_outer_title" />
            <result property="link" column="product_outer_link" />
            <result property="image" column="product_outer_image" />
            <result property="price" column="product_outer_price" />
        </association>

        <!-- ProductDTO 매핑 (product_bottom) -->
        <association property="product_bottom" javaType="ProductNaverShopDTO">
            <id property="no" column="product_bottom_no" />
            <result property="title" column="product_bottom_title" />
            <result property="link" column="product_bottom_link" />
            <result property="image" column="product_bottom_image" />
            <result property="price" column="product_bottom_price" />
        </association>

        <!-- ProductDTO 매핑 (product_shoes) -->
        <association property="product_shoes" javaType="ProductNaverShopDTO">
            <id property="no" column="product_shoes_no" />
            <result property="title" column="product_shoes_title" />
            <result property="link" column="product_shoes_link" />
            <result property="image" column="product_shoes_image" />
            <result property="price" column="product_shoes_price" />
        </association>

        <!-- ProductDTO 매핑 (product_bag) -->
        <association property="product_bag" javaType="ProductNaverShopDTO">
            <id property="no" column="product_bag_no" />
            <result property="title" column="product_bag_title" />
            <result property="link" column="product_bag_link" />
            <result property="image" column="product_bag_image" />
            <result property="price" column="product_bag_price" />
        </association>
    </resultMap>

    <select id="selectStyleStyleCodi" resultType="StylesProductDTO" resultMap="styleCodiMap">
        SELECT
            S.no AS styles_no,
            S.product_top AS styles_product_top,
            S.product_outer AS styles_product_outer,
            S.product_bottom AS styles_product_bottom,
            S.product_shoes AS styles_product_shoes,
            S.product_bag AS styles_product_bag,
            S.user_id AS styles_user_no,

            -- Product information
            P1.no AS product_top_no,
            P1.title AS product_top_title,
            P1.link AS product_top_link,
            P1.image AS product_top_image,
            P1.price AS product_top_price,

            P2.no AS product_outer_no,
            P2.title AS product_outer_title,
            P2.link AS product_outer_link,
            P2.image AS product_outer_image,
            P2.price AS product_outer_price,

            P3.no AS product_bottom_no,
            P3.title AS product_bottom_title,
            P3.link AS product_bottom_link,
            P3.image AS product_bottom_image,
            P3.price AS product_bottom_price,

            P4.no AS product_shoes_no,
            P4.title AS product_shoes_title,
            P4.link AS product_shoes_link,
            P4.image AS product_shoes_image,
            P4.price AS product_shoes_price,

            P5.no AS product_bag_no,
            P5.title AS product_bag_title,
            P5.link AS product_bag_link,
            P5.image AS product_bag_image,
            P5.price AS product_bag_price

        FROM styles_product S
                 JOIN product_naver_shop P1 ON S.product_top = P1.no
                 JOIN product_naver_shop P2 ON S.product_outer = P2.no
                 JOIN product_naver_shop P3 ON S.product_bottom = P3.no
                 JOIN product_naver_shop P4 ON S.product_shoes = P4.no
                 JOIN product_naver_shop P5 ON S.product_bag = P5.no

        WHERE S.`no` = #{styleNo};
    </select>

<!--    마이페이지 > 내 업로드 스타일 -->


    <select id="selectStylesStyleCodiByUser" resultType="StylesProductDTO" resultMap="stylesCodiMap">
        SELECT
            S.no AS styles_no,
            S.product_top AS styles_product_top,
            S.product_outer AS styles_product_outer,
            S.product_bottom AS styles_product_bottom,
            S.product_shoes AS styles_product_shoes,
            S.product_bag AS styles_product_bag,
            S.user_id AS styles_user_no,

            -- Product information
            P1.no AS product_top_no,
            P1.image AS product_top_image,

            P2.no AS product_outer_no,
            P2.image AS product_outer_image,

            P3.no AS product_bottom_no,
            P3.image AS product_bottom_image,

            P4.no AS product_shoes_no,
            P4.image AS product_shoes_image,

            P5.no AS product_bag_no,
            P5.image AS product_bag_image


        FROM styles_product S
                 JOIN product_naver_shop P1 ON S.product_top = P1.no
                 JOIN product_naver_shop P2 ON S.product_outer = P2.no
                 JOIN product_naver_shop P3 ON S.product_bottom = P3.no
                 JOIN product_naver_shop P4 ON S.product_shoes = P4.no
                 JOIN product_naver_shop P5 ON S.product_bag = P5.no

        WHERE `user_id` = #{id}

    </select>

</mapper>
