@import "../public/public.css";

/***************************************************************/
.button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.tab {
    /*padding: 10px 20px;*/
    margin: 0 10px;
    cursor: pointer;
    background-color: pink;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}
.tab:hover {
    transform: scale(0.8);
}

/******************************************/
/**************** 내 옷 세션 *******************/
/******************************************/

.style-clothes-section{

    margin: 30px auto;
    padding: 0 50px;

    justify-content: space-between;
    font-size: var(--font-size-x-small);
    color: var(--Dark-gray-textured-background---4-rgba);

    width: 800px;



}

.style-clothes-section li{
    display: inline-block;
    list-style: none;
}
.style-clothes-section li:not(:last-child)::after{
    content: "|";
    margin: 0 10px;
}
.style-clothes-section a{
    text-decoration: none;
    color: var(--Dark-gray-textured-background---4-rgba);
}
/*****************************************************/
.style-clothes-item-section {
    margin: 20px auto;
    display: grid;
    grid-gap: 5px 30px;
    grid-template-columns: repeat(4, 1fr);
}
.style-clothes-item-section .item{
    display: inline-flex;
    text-align: center;
    flex-direction: column;

}
.style-clothes-item-section .image-container{
    width: 150px;
    height: 150px;
    overflow: hidden;

    margin-bottom: 10px;
    margin-top: 30px;

    padding: 15px;

    border: 5px solid pink;
    border-radius: 8px;

    &:hover > img{
        transform: scale(120%);
    }
}
.style-clothes-item-section .image-container > img{
    width: 100%;
    height: 100%;
    transition-duration: 0.2s;
    object-fit: contain;
}
.style-clothes-item-section .title{
    text-decoration: none;
    color: var(--Dark-gray-textured-background---5-rgba);
    font-family: Medium;
    font-size: var(--font-size-xx-small);
    margin-bottom: 8px;
}
.style-clothes-item-section .price{
    color: var(--Pasteles-5-rgba);
    font-family: Medium;
    font-size: var(--font-size-xx-small);
}






