@import "../public/public.css";

.myPage-section{
    margin: 120px 0;
    padding: 0 250px;
}

/*******************************************************/

/* 전체 컨테이너 스타일 */
.myPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    max-width: 1200px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
/***************************************************/
/* 레이아웃 스타일 */
.myPage-content {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

/* 왼쪽 사이드바 */
.info-section {
    width: 25%;
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

.info-box {
    margin-bottom: 20px;
}

.info-box h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-box li {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    cursor: pointer;
}

.info-box li:hover {
    text-decoration: underline;
}

/**************************************************/
/* 오른쪽 메인 콘텐츠 */
.myPage-main-section {
    width: 75%;
    padding-left: 20px;
}

/*****************************************************/
/* 찜 스타일 */

.myPage-loves-item-section {
    display: grid;
    grid-gap: 5px 30px;
    grid-template-columns: repeat(4, 1fr);
}

.myPage-loves-item-section .item{
    display: inline-flex;
    text-align: center;
    flex-direction: column;

}
.myPage-loves-item-section .image-container{
    height: 300px;
    margin-bottom: 10px;
    padding: 5px;
}
/******************************************/

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.box {
    background-color: #4682B4;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top { grid-column: 1 / 2; grid-row: 1 / 2; }
.outer { grid-column: 2 / 3; grid-row: 1 / 3; }
.bottom { grid-column: 1 / 2; grid-row: 2 / 3; }
.shoes { grid-column: 1 / 2; grid-row: 3 / 4; }
.bag { grid-column: 2 / 3; grid-row: 3 / 4; }

/*****************************************************/

button {
    padding: 10px 20px;
    background-color: lightpink;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

